*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #364852;
    color: #0e0f14;
}

h1{
    font-size: 2.5vh;
    font-style: italic;
    color: #050505;
}
h2{
    font-size: 2.25vh;
    color: #87556f;
    font-style: oblique;
}
h3{
    font-size: 2vh;
    color: #87556f;
    font-style: oblique;
}
#pic{
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    object-fit: scale-down;
}
#headline,#country{
    width: 100%;
    text-align: center;
    font-size: 3.25vh;
    /*background-color: #f1e5d3;*/
    color: #1b1c25;
    text-decoration: underline;

}

nav{
    /*height: 8vh;*/
    width: 100%;
    justify-content: left;
    /*background-color: #d8c3a5;*/
    color: #0e0f14;
    /*background-color: #f1e5d3;*/
    background-color: #322f3d;
    border-radius: 4%;
    font-size: 4.0vh;
    font-family: monospace;
    font-style: italic;
    padding: 1vh;
    padding-left: 5%;
    display: block;
}

.nthg{
    height: 3vh;
}

.GCases, .CCases{
    width: 100%;
    border: .001em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
}

.GCase-upper, .GCase-lower, .CCase-upper, .CCase-lower{
    width: 100%;
    height: 20vh;    
    padding: 5px;
    background-color: #322f3d;
    border-radius: 15px;

    text-align: center;
    align-items: center;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
    flex-basis:15%;
}

.later{
    flex-shrink: 1;
    flex-basis: 20%;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    
    height: 4vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #322f3d;
    color: #060608;
    font-size: 2vh;
    font-family: monospace;
    font-style: italic;
    padding: 1vh;
    padding-left: 5%;
}
hr{
    width: 75%;
    background-color: #1b1c25;
}


.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}
/*.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    text-align: center;  
    color: #f8eee1;

}*/

#options{
    width: 110%;
    padding: 5px;
    background-color: #f8eee1;
    color: #f8eee1;
    float: left;
    text-align: center;
    align-items: center;
    display: block;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
}
#button{
    background-color: #322f3d;
    color: #87556f;
    width: 4em;
    height: 5vh;
    cursor: pointer;
}
